# Estructura de datos: LISTAS
En Python la forma más estándar de guardar o almacenar colecciones de objetos en un orden determinado es la lista. Que es muy diferente a la lista en R. Las listas en Python equivalen a los array en R.
Definición de listas (profesor): Son contenedores que permiten almacenar una colección de objetos en un orden determinado. Se pueden acceder, añadir o eliminar objetos de forma sencilla. El primer elemento de una lista en R esta en la posición número 1, mientras que el primer elemento en Python está en la posición número 0.

In [23]:
L1 = [] #Lista vacía. No contiene ningún elemento.

In [24]:
L2 = ['a', 'e', 'i', 'o', 'u'] #Lista con valores iniciales (tipo character)

In [25]:
L3 = [2,3,5,7,11] #Lista con valores enteros

In [26]:
L4 = ['a', 5, True, "Juan Gabriel"] #Lista heterogénea con distintos tipos de datos

In [27]:
L4

['a', 5, True, 'Juan Gabriel']

In [28]:
L5 = [0]*10 #Lista con un mismo elemento repetido varias veces

In [29]:
L5

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [30]:
L4[0] #Primer elemento de la lista 4, que está en la posición 0

'a'

In [31]:
L4[1]

5

In [32]:
L5[4]= 3.1415 #Modificación de uno de los valores de la lista

In [33]:
L5

[0, 0, 0, 0, 3.1415, 0, 0, 0, 0, 0]

In [34]:
L5[13]= 8 #Si intentamos acceder a una posición que está fuera del rango de la lista da ERROR

IndexError: list assignment index out of range

In [35]:
L5[13] #ERROR de acceso a una posición que no contiene la lista, solo tiene 10 elementos

IndexError: list index out of range

In [36]:
L4[0:2] #Acceso de posiciones múltiples (incluye la primera, pero no la última). No muestra la posición 2, solo la 0 y 1

['a', 5]

In [37]:
L5[1:4]=[1,2,3] #Modificación de entradas, en este caso estamos asígnando a las posiciones 1, 2 y 3 los números 1,2,3

In [38]:
L5

[0, 1, 2, 3, 3.1415, 0, 0, 0, 0, 0]

In [39]:
L5.append(8) #Añadir entradas a una lista (apendizar), en este caso añadimos un 8 al final de la lista
#La lista pasa a tener 11 elementos

In [40]:
L5

[0, 1, 2, 3, 3.1415, 0, 0, 0, 0, 0, 8]

In [41]:
L5.remove(3) #Quitar un elemento de la lista, en este caso queremos quitar el objeto que sea igual a 3.
# OJO! Elimina la primera ocurrencia del objeto 3 de la lista L5.
#La lista vuelve a tener 10 objetos

In [42]:
L5

[0, 1, 2, 3.1415, 0, 0, 0, 0, 0, 8]

In [43]:
L5.reverse() #Invierte el orden de los objetos de la lista

In [44]:
L5

[8, 0, 0, 0, 0, 0, 3.1415, 2, 1, 0]

In [45]:
L5.count(0) #Para contar las ocurrencias del objeto que le indiquemos. En este caso hay 6 ceros en total.
#Para contar elementos dentro de la lista.

6

In [46]:
L5.index(2) #Para saber la POSICIÓN (índice) en la que se encuentra el objeto o elemento 2

7

In [47]:
len(L5) #Para saber la longitud de una determinada lista

10

In [48]:
L = [1,2,3,4,5,6]

In [49]:
L[1::2] #Para obtener los ELEMENTOS de una lista que se encuentran en posición IMPAR (porque empieza desde 0)
#El código significa toma la posición uno (está el número 2) y en adelante toma las posiciones de 2 en 2

[2, 4, 6]

In [50]:
L[::2] #Para obtener ELEMENTOS de una lista en posición PAR (si empezamos con 0, la posición 1 sería par)
#No hace falta poner el 0 delante de ::2 porque ya te entiende que empiezas desde el principio

[1, 3, 5]

In [51]:
L[-1] #Para sacer el último ELEMENTO de la lista, independientemente de si sabemos su longitud o no
#sintaxis similar a R

6

In [52]:
8 in L5 #Para comprobar si un elemento está dentro de una lista

True

In [53]:
8 in L

False

In [54]:
L.sort(reverse=True) #Para ordenar una lista, en este caso en orden decreciente

In [55]:
L

[6, 5, 4, 3, 2, 1]

# Bucles

Los bucles **for** iteran sobre una colección (recorren objeto a objeto dicha colección) (que puede ser una lista, un string, un objeto iterable)

In [7]:
for numero in L:       #Va de elemento a elemento imprimiendo el número
    print(numero)

1
2
3
4
5
6

In [6]:
numero #Nos muestra el último valor de la lista conocido

6

In [8]:
for x in range(0,10):    #Incluye el 0 pero no el 10, como ya hemos visto anteriormente
    print(x)             #range(10) = range(0,10)

0
1
2
3
4
5
6
7
8
9

In [9]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [10]:
for c in "Juan Gabriel":     #c se refiere a character (string), le estamos diciendo  
    print(c)                 #que nos imprima todos los character del nombre de Juan Gabriel

J
u
a
n

G
a
b
r
i
e
l

In [12]:
notas = [3.5, 6.7, 8, 9, 4.5]#Creación de una función que nos devuelve la MEDIA ARITMÉTICA de una lista llamada notas
suma = 0                     #Python y R tienen funciones específicas para calcular la media aritmética
for nota in notas:
    suma = suma+nota
print(suma/len(notas))

6.34

El bucle **while** se repite hasta que la condición booleana deja de ser cierta

In [13]:
count = 0
while count < 10: #Cero es menor que 10? SÍ
    print(count)  #Imprime el valor de 0
    count+=1      #Le suma 1 al valor 0 y continúa con el bucle: 1 es menor que 10? SÍ. Imprime 1 y le suma 1, etc.

0
1
2
3
4
5
6
7
8
9

Variante del bucle **for** que permite generar el valor de la posición del objeto que estoy recorriendo y la misma posición.

In [16]:
primos = [2,3,5,7,11,13,17,19,23,29]
for p in primos:
    print(p)

2
3
5
7
11
13
17
19
23
29

In [16]:
primos = [2,3,5,7,11,13,17,19,23,29] #Para imprimir tanto la POSICIÓN (idx) como los VALORES
for idx,p in enumerate(primos):      #OJO! Recordar poner enumerate(de la lista) porque sino da error
    print(idx,p)                     #Columna izquierda: posiciones; columna derecha: valores

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

In [17]:
#Si solo queremos recorrer las posiciones que ocupan los objetos. Por ejemplo solo los que están en posición
#PAR o IMPAR
for idx in range(len(primos)):
    print(idx)

0
1
2
3
4
5
6
7
8
9

In [18]:
#Si queremos saber también los valores, aparte de la posición. Nos vuelven a aparecer las dos columnas con 
#posiciones y valores
for idx in range(len(primos)):
    print(idx, primos[idx])

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

### Ejercicio propuesto Criba de Eratóstenes
Tenemos que hacer una función que nos devuelva los números primos de una secuencia dada. Por ejemplo hasta el número 120 como está en la wikipedia.

# Tuplas
Una tupla es una colección de objetos que no puede modificarse (tiene tamaño y contenido fijo). Las tuplas se definen en Python con paréntesis. Para saber si es una tupla hay que fijarse en si se devuelve el resultado entre paréntesis (). Las tuplas son útiles para no ocupar memoria de más cuando se programa.

In [6]:
p1 = (1,) #Tupla de un solo elemento (si le ponemos la coma sí que lo trata como una tupla)

In [7]:
p1

(1,)

In [4]:
p2 = (1,2,3,4)

In [5]:
p2

(1, 2, 3, 4)

In [9]:
p3=(1,2,'c',3.1415) #Tupla con datos heterogéneos

In [10]:
p3

(1, 2, 'c', 3.1415)

In [11]:
p3[0] #Acceder a la posición 0 de la tupla 3

1

In [12]:
p3[0:2] #Acceder a las dos primeras posiciones 0 y 1

(1, 2)

In [13]:
a,b,c,d = p3 #Asignación de variables para cada uno de los valores de la tupla

In [14]:
a

1

In [15]:
b

2

In [16]:
c

'c'

In [17]:
d

3.1415

In [19]:
l3 = list(p3) #Convertir TUPLA en LISTA

In [20]:
l3

[1, 2, 'c', 3.1415]

In [58]:
p5 = tuple(L5) #Crear una TUPLA a partir de una LISTA
p5

(8, 0, 0, 0, 0, 0, 3.1415, 2, 1, 0)

In [59]:
"Hola qué tal   estas".split(" ") #Separar caracteres por ESPACIOS y transformarlos en una lista

['Hola', 'qué', 'tal', '', '', 'estas']

In [60]:
"4,6,7,2,9,4,2".split(",") #Separar caracteres por comas y transformarlos en una lista

['4', '6', '7', '2', '9', '4', '2']

### Ejercicio propuesto
Programa que permita leer del teclado toda una colección de números separados por el character de la coma (","), que utilice la función .split para pasarlo primero a lista y que luego utilice la función tuple para pasarlo a una tupla de objetos.

In [118]:
#Ejercicio resuelto a mi manera:
lista = (input("Introduce una secuencia de números separados por coma: ").split(","))
lista = [float(i) for i in lista]
tupla = tuple(lista)
tupla

Introduce una secuencia de números separados por coma: 3.5, 78,9,10,24,35,1,2,3

(3.5, 78.0, 9.0, 10.0, 24.0, 35.0, 1.0, 2.0, 3.0)

In [101]:
ListaNumeros = list(map(int, lista)) #CONVERTIR CHARACTERS EN NÚMEROS ENTEROS

ValueError: invalid literal for int() with base 10: '4.8'

In [81]:
ListaNumeros

[1, 2, 3, 4, 5, 6, 22]

In [114]:
#Otra forma DE CONVERTIR CHARACTER EN NÚMEROS ITERANDO (en este caso hago FLOAT para que tenga en cuenta los decimales)
lista = [float(i) for i in lista]

In [115]:
lista

[2.3, 67.0, 89.0, 1.0, 2.0, 3.0, 4.0]

In [105]:
#CONVERTIR CHARACTER EN NÚMEROS ENTEROS
lista = [int(i) for i in lista]

In [110]:
lista

[4.0, 5.0, 34.0, 88.0, 95.0]

In [116]:
tupla = tuple(lista)

In [117]:
tupla

(2.3, 67.0, 89.0, 1.0, 2.0, 3.0, 4.0)

In [2]:
#EJERCICIO RESUELTO POR EL PROFESOR
numeros = input("Escribe números separados por comas." )
numerosL = numeros.split(",")
print(numerosL)
numerosT = tuple(numerosL)
print(numerosT)

Escribe números separados por comas.6,23,66,83,105,98
['6', '23', '66', '83', '105', '98']
('6', '23', '66', '83', '105', '98')

In [8]:
for n in numerosT: #Convertir los caracteres a números enteros (hacer casting)
    print(int(n)+1)

7
24
67
84
106
99

In [9]:
#Si queremos calcular la media de los números que ha introducido el usuario
suma = 0
for n in numerosT:
    suma += int(n)
print(suma/len(numerosT))

63.5

# Diccionario (Array asociativo)
Colección no ordenada de pares de valores: claves(identificadores únicos)<-> valores. Se indexa no por posición, sino utilizando las claves (lo más típico es que se trate de un string).

In [14]:
#Sustituir o mostrar por pantalla otro string concatenado
nombre = input("Introduce aquí tu nombre")
print("Hola %s"%nombre) #%s acompañado de % sirve para sustituir este elemento por el que se ha escrito "Juan Gabriel", "Carla", etc...

Introduce aquí tu nombreMaría Magdalena
Hola María Magdalena

In [17]:
#Sustituir o mostrar por pantalla una colección
print("Estos son los números primos %s"%primos)

Estos son los números primos [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [18]:
#Sustituir o mostrar por pantalla un número entero
print("Esto es un número: %d"%suma)

Esto es un número: 381

In [25]:
#Sustituir o mostrar por pantalla un número decimal
media = suma/len(numerosT)
print("Esto es un número decimal: %.2f"%media) #antes de la f podemos colocar el número de decimales que queremos con un . seguido del número
print("Esto es un número decimal: %.0f"%media)
print("Esto es un número decimal: %.3f"%media)

Esto es un número decimal: 63.50
Esto es un número decimal: 64
Esto es un número decimal: 63.500

In [ ]:
#Los DICCIONARIOS van con llave. Recordar que las listas van con corchete y las tuplas con paréntesis.
#La clave va en formato string, es decir, entrecomillada, seguida de : y el valor asignado
#El valor asignado pueden ser números enteros, decimales, strings, booleanos,etc. (lo que queramos)
edad = {"Juan Gabriel":30, "María":20, "Ricardo":53, "Antonio":45}

In [26]:
#Para leer más fácilmente el diccionario podemos estructurarlo de la siguiente forma:
edad = {
    "Juan Gabriel":30,
    "María":20, 
    "Ricardo":53, 
    "Antonio":45
}

In [27]:
#Para acceder a una posición del diccionario, recordar que no hay órdenes sino claves
edad["Ricardo"]

53

In [28]:
#Para modificar una valor del diccionario
edad["Ricardo"] = 52

In [29]:
edad

{'Juan Gabriel': 30, 'María': 20, 'Ricardo': 52, 'Antonio': 45}

In [30]:
#Para acceder a las claves del diccionario
edad.keys()

dict_keys(['Juan Gabriel', 'María', 'Ricardo', 'Antonio'])

In [31]:
#Para acceder a los valores del diccionario
edad.values()

dict_values([30, 20, 52, 45])

In [32]:
#Para saber la longitud del diccionario
len(edad)

4

In [33]:
#Para consultar si una clave está en el diccionario o no
"Pepe" in edad

False

In [34]:
"María" in edad

True

In [36]:
"Mario" not in edad

True

In [37]:
#Para borrar una clave con su valor asignado en el diccionario
del edad["Antonio"]

In [38]:
edad

{'Juan Gabriel': 30, 'María': 20, 'Ricardo': 52}

In [39]:
notas = {"Al1":5.6, "Al2":7.5, "Al3":10, "Al4":False}

In [40]:
notas

{'Al1': 5.6, 'Al2': 7.5, 'Al3': 10, 'Al4': False}